pipeline/12 fail activity.json
{
	"name": "12 fail activity",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MARKS",
					"value": {
						"value": "@int('90')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TEMP",
					"value": {
						"value": "@variables('MARKS')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "azeem intentionally",
					"errorCode": "ibm"
				}
			}
		],
		"variables": {
			"MARKS": {
				"type": "Array",
				"defaultValue": [
					89,
					50,
					78,
					40
				]
			},
			"TEMP": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "newazeembatch"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-24T03:29:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}