pipeline/7 JSON DATA STRUCTURE PRACTICAL.json
{
	"name": "7 JSON DATA STRUCTURE PRACTICAL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM EMP",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TEMP",
					"value": {
						"value": "@activity('Lookup1').output.VALUE[12].JOB",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TEMP": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-02T03:12:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}