pipeline/PARAMETER APPEND VALUE.json
{
	"name": "PARAMETER APPEND VALUE",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MARKS",
					"value": {
						"value": "@pipeline().parameters.VALUE",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TEMP",
					"value": {
						"value": "@variables('MARKS')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"VALUE": {
				"type": "int"
			}
		},
		"variables": {
			"MARKS": {
				"type": "Array",
				"defaultValue": [
					89,
					50,
					78,
					40
				]
			},
			"TEMP": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "newazeembatch"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-23T09:27:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}